## 1. Read rawdata => order

- order.csv format:

| # |column_name | type | value |
| ---- | ---- | ---- | ---- |
| 0| |  |  |
| 1| id | int | ... |
| 2| created_at | datetime | order created_at |
| 3| closed_at | datetime | order closed_at |
| 4| processed_at | datetime | order processed_at |
| 5| total_price | USD | order total_price |
| 6| financial_status| enum | paid/refunded/partially_refunded |
| 7| fulfillment_status| enum | fulfilled |
| 8| line_items| json |  |
| 9| fulfillments| json | |
|10| refunds| json | |
|11| discount_applications| json | |
|12| customer| json | |

- line_items:

- fulfillments:
- refunds:
- discount_applications:
- customer:
| # |column_name | type | value |
| ---- | ---- | ---- | ---- |
| 0| |  | {"id":150444605461,"created_at":"2018-01-02T12:32:42-08:00","country":"United States"} |
| 1| id| int | ... |
| 2| created_at| datetime | user created_at |
| 3| country| string | user's country |

In [1]:
# !pip install matplotlib

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, date
import matplotlib.pyplot as plt
# import seaborn as sns

create engine to connect to mysql services

In [3]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://iss:6Jg3bwm56xtJ2mrfNQwvsaY$@idm5peipdsus5o.crcvo0yw3sz7.ap-southeast-1.rds.amazonaws.com:3306/iss_project')

Read data from local directory *.csv

In [4]:
# order_df = pd.read_csv('../data-raw/orders.csv', parse_dates=[1,11], infer_datetime_format=True)

Read data from local Mysql services

In [32]:
order_df = pd.read_sql_table('orders', engine)
order_df.head(3)

,id,created_at,closed_at,processed_at,total_price,financial_status,fulfillment_status,line_items,fulfillments,refunds,discount_applications,customer
0,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,"[{""title"":""Vertigo™ Semi-Hollow"",""quantity"":1,...","[{""created_at"":""2018-01-02T18:02:30-08:00"",""li...",[],[],"{""id"":149426569237,""created_at"":""2018-01-01T17..."
1,20556,2018-01-02 10:56:19,2018-01-02 18:02:32,2018-01-02 10:56:19,249.99,paid,fulfilled,"[{""title"":""Vertigo™ Semi-Hollow"",""quantity"":1,...","[{""created_at"":""2018-01-02T18:02:32-08:00"",""li...",[],[],"{""id"":150321627157,""created_at"":""2018-01-02T10..."
2,20554,2018-01-02 11:45:26,2018-01-02 18:02:33,2018-01-02 11:45:26,NaN,paid,fulfilled,"[{""title"":""The FlyBy"",""quantity"":1,""sku"":""EFX-...","[{""created_at"":""2018-01-02T18:02:33-08:00"",""li...",[],"[{""type"":""manual"",""value"":""229.99"",""value_type...","{""id"":150383820821,""created_at"":""2018-01-02T11..."

In [28]:
order_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7618 entries, 0 to 7617
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   order_id                         7618 non-null   int64
 1   order_created_at                 7618 non-null   datetime64[ns]
 2   closed_at                        7326 non-null   datetime64[ns]
 3   processed_at                     7618 non-null   datetime64[ns]
 4   order_total_price                3840 non-null   float64
 5   financial_status                 7618 non-null   object
 6   order_status                     7618 non-null   object
 7   refunds                          7618 non-null   object
 8   order_discounts                  7618 non-null   object
 9   customer_id                      7580 non-null   float64
 10  customer_created_at              7580 non-null   object
 11  customer_country                 7580 non-null   object
 12  line_items.title                 7618 non-null   object
 13  product_quantity                 7618 non-null   int64
 14  product_sku                      7610 non-null   object
 15  line_items.grams                 7618 non-null   int64
 16  line_items.price                 7618 non-null   object
 17  product_discount                 7618 non-null   object
 18  line_items.fulfillment_status    7230 non-null   object
 19  line_items.discount_allocations  7618 non-null   object
 20  order_date                       7618 non-null   datetime64[ns]
 21  product_price                    7618 non-null   float64
 22  product_title                    7594 non-null   object
 23  product_category                 7594 non-null   object
 24  product_tags                     7594 non-null   object
dtypes: datetime64[ns](4), float64(3), int64(3), object(15)
memory usage: 1.5+ MB

In [29]:
order_df.isna().sum()

order_id                              0
order_created_at                      0
closed_at                           292
processed_at                          0
order_total_price                  3778
financial_status                      0
order_status                          0
refunds                               0
order_discounts                       0
customer_id                          38
customer_created_at                  38
customer_country                     38
line_items.title                      0
product_quantity                      0
product_sku                           8
line_items.grams                      0
line_items.price                      0
product_discount                      0
line_items.fulfillment_status       388
line_items.discount_allocations       0
order_date                            0
product_price                         0
product_title                        24
product_category                     24
product_tags                         24
dtype: int64

In [6]:
import json

def dataframe_flatten(df, column):
    if column not in df.columns:
        return df
    if isinstance(df[column][0], str):
        data_fillna = df[column].fillna('{}')
        data_json = data_fillna.apply(lambda x: json.loads(x) if x else {})
    else:
        data_fillna = df[column].fillna({})
        data_json = data_fillna
    new_df = pd.json_normalize(data_json)
    new_df = new_df.add_prefix('{0}.'.format(column))
    # print(new_df.head())
    return pd.concat([df.drop(column, 1), new_df], axis=1)

## Flatten order data => customer

In [7]:
# order_df['customer'] is json -> dict format => can parse and add to order_df directly 
# order_df =  dataframe_flatten(order_df, 'line_items')
# order_df =  dataframe_flatten(order_df, 'fulfillments')
# order_df =  dataframe_flatten(order_df, 'refunds')
# order_df =  dataframe_flatten(order_df, 'discount_applications')
order_df =  dataframe_flatten(order_df, 'customer')

In [8]:
# Deprecated
# order_df['customer'].apply(pd.Series)[0].apply(pd.Series)
# def parse_list_json_to_dataframe(data):
    

# order_df['customer'].fillna('{}')
# order_df['customer'].fillna('{"id":-1}').apply(pd.DataFrame.from_records)
# order_df['customer'].fillna('{"id":-1}').apply(pd.json_normalize)

# Target_df = pd.json_normalize(order_df['customer'])
# order_df['customer'].isna().sum()
# print (order_df['customer'].fillna('{"id":-1,"created_at":"2018-01-01T17:23:26-08:00","country":"United States"}').isna().sum())
# print (order_df['customer'][0])
# pd.json_normalize(order_df['customer'].fillna('{"id":-1,"created_at":"2018-01-01T17:23:26-08:00","country":"United States"}'))

# order_df['customer'] = order_df['customer'].fillna('{}')
# order_df['customer'] = order_df['customer'].apply(json.loads)
# pd.json_normalize(order_df['customer']).add_prefix('customer.')

# pd.concat([order_df.drop(['customer'], axis=1), order_df['customer'].apply(pd.Series)], axis=1)
order_df.head()

,id,created_at,closed_at,processed_at,total_price,financial_status,fulfillment_status,line_items,fulfillments,refunds,discount_applications,customer.id,customer.created_at,customer.country
0,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,"[{""title"":""Vertigo™ Semi-Hollow"",""quantity"":1,...","[{""created_at"":""2018-01-02T18:02:30-08:00"",""li...",[],[],1.494266e+11,2018-01-01T17:23:26-08:00,United States
1,20556,2018-01-02 10:56:19,2018-01-02 18:02:32,2018-01-02 10:56:19,249.99,paid,fulfilled,"[{""title"":""Vertigo™ Semi-Hollow"",""quantity"":1,...","[{""created_at"":""2018-01-02T18:02:32-08:00"",""li...",[],[],1.503216e+11,2018-01-02T10:55:03-08:00,United States
2,20554,2018-01-02 11:45:26,2018-01-02 18:02:33,2018-01-02 11:45:26,NaN,paid,fulfilled,"[{""title"":""The FlyBy"",""quantity"":1,""sku"":""EFX-...","[{""created_at"":""2018-01-02T18:02:33-08:00"",""li...",[],"[{""type"":""manual"",""value"":""229.99"",""value_type...",1.503838e+11,2018-01-02T11:45:05-08:00,United States
3,20573,2018-01-01 12:38:56,2018-01-02 18:02:34,2018-01-01 12:38:56,249.99,paid,fulfilled,"[{""title"":""Vertigo™ Electric Guitar"",""quantity...","[{""created_at"":""2018-01-02T18:02:34-08:00"",""li...",[],[],1.490918e+11,2018-01-01T12:34:09-08:00,United States
4,20575,2017-12-31 16:42:06,2018-01-02 18:02:36,2017-12-31 16:42:06,172.67,paid,fulfilled,"[{""title"":""The FlyBy"",""quantity"":1,""sku"":""EFX-...","[{""created_at"":""2018-01-02T18:02:36-08:00"",""li...",[],"[{""type"":""discount_code"",""value"":""30.0"",""value...",6.553114e+09,2017-08-02T12:12:35-07:00,United States

## Flatten order data => line_items + fulfillments

In [9]:
# as consider checking if line_items is contain inside fulfillments
import json
fulfillment_status = order_df['fulfillment_status'].isnull()
# print (fulfillment_status, len(fulfillments))
line_items = order_df['line_items']
fulfillments = order_df['fulfillments']
first_i = -1
for i in range(len(fulfillments)): 
    try:
        if i in [3943, 3692]:
            continue
        if fulfillment_status[i]:
            continue
        if order_df['fulfillment_status'][i] == 'partial':
            continue
        fulfillitems = sum(list(map(lambda x: x.get("line_items", []), json.loads(fulfillments[i]))), [])
        if sorted(json.loads(line_items[i]), key=lambda x: x['title']) != sorted(fulfillitems, key=lambda x: x['title']):
            first_i = i
            break
    except Exception as ex:
        print(ex, i, fulfillment_status[i], fulfillments[i], line_items[i])

print(first_i)
if first_i >= 0:
    # first_i = next((i for i in range(len(fulfillments)) if not fulfillment_status[i] and len(json.loads(fulfillments[i])) == 0 or sorted(json.loads(line_items[i]), key=lambda x: x['title']) != sorted(json.loads(fulfillments[i])[0].get("line_items", []), key=lambda x: x['title'])), None)
    print(fulfillments[first_i], fulfillment_status[first_i],  order_df['fulfillment_status'][first_i])
    print(line_items[first_i])
    print(line_items[first_i] in fulfillments[first_i])

    print(list(map(lambda x: x.get("line_items", []), json.loads(fulfillments[first_i]))))

    fulfillitems = sorted(sum(list(map(lambda x: x.get("line_items", []), json.loads(fulfillments[first_i]))), []), key=lambda x: x['title'])
    items = sorted(json.loads(line_items[first_i]), key=lambda x: x['title'])
    print(items, '\n', fulfillitems)

    print (items == fulfillitems )

    test_1 = json.dumps(items).split(',')
    test_2 = json.dumps(fulfillitems).split(',')
    for _ in range(min(len(test_1), len(test_2))):
        if test_1[_] == test_2[_]:
            continue
        print (test_1[_], test_2[_])
    # print(sorted(json.loads(line_items[first_i]), key=lambda x: x['title']) == sorted(json.loads(fulfillments[first_i])[0]["line_items"], key=lambda x: x['title']))
    # print(json.dumps(json.loads(line_items[first_i]), sort_keys=True), '\n', json.dumps(json.loads(fulfillments[first_i])[0]["line_items"], sort_keys=True))

    # order_df.head()

95
[] False
[{"title":"Vertigo™ Electric Bass (Grey)","quantity":1,"sku":"M80-VEB-GRY","grams":18144,"price":"249.99","total_discount":"249.99","fulfillment_status":null,"discount_allocations":[{"amount":"249.99","discount_application_index":0}]}]
False
[]
[{'title': 'Vertigo™ Electric Bass (Grey)', 'quantity': 1, 'sku': 'M80-VEB-GRY', 'grams': 18144, 'price': '249.99', 'total_discount': '249.99', 'fulfillment_status': None, 'discount_allocations': [{'amount': '249.99', 'discount_application_index': 0}]}]
 []
False
[{"title": "Vertigo\u2122 Electric Bass (Grey)" []

As the result, can see that the data in line_items and fulfillments is same => drop fulfillments

In [10]:
# pd.concat([order_df.drop(['customer'], axis=1), order_df['customer'].apply(pd.Series)], axis=1)
if 'fulfillments' in order_df:
    order_df = order_df.drop('fulfillments', axis=1)
# https://stackoverflow.com/questions/32468402/how-to-explode-a-list-inside-a-dataframe-cell-into-separate-rows
    
# https://towardsdatascience.com/how-to-quickly-create-and-unpack-lists-with-pandas-d0e78e487c75
if isinstance(order_df['line_items'][0], str):
#     order_df.reset_index(inplace=True, drop=True)
    order_df['line_items'] = order_df['line_items'].apply(json.loads)
    order_df = order_df.explode('line_items')
#     order_df.reset_index(inplace=True, drop=True)

In [11]:
order_df.reset_index(inplace=True, drop=True)
order_df =  dataframe_flatten(order_df, 'line_items')
order_df.head()

,id,created_at,closed_at,processed_at,total_price,financial_status,fulfillment_status,refunds,discount_applications,customer.id,customer.created_at,customer.country,line_items.title,line_items.quantity,line_items.sku,line_items.grams,line_items.price,line_items.total_discount,line_items.fulfillment_status,line_items.discount_allocations
0,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],[],1.494266e+11,2018-01-01T17:23:26-08:00,United States,Vertigo™ Semi-Hollow,1,M80-VHB-BLK,20412,249.99,0.00,fulfilled,[]
1,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],[],1.494266e+11,2018-01-01T17:23:26-08:00,United States,The Tick™ 2.0 Black,1,M80-TICK-V2-BLK,3175,89.99,0.00,fulfilled,[]
2,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],[],1.494266e+11,2018-01-01T17:23:26-08:00,United States,Pedalboard Lite (Silver),1,PFX-PB-LT-SLV,912,109.99,0.00,fulfilled,[]
3,20556,2018-01-02 10:56:19,2018-01-02 18:02:32,2018-01-02 10:56:19,249.99,paid,fulfilled,[],[],1.503216e+11,2018-01-02T10:55:03-08:00,United States,Vertigo™ Semi-Hollow,1,M80-VHB-BLK,20412,249.99,0.00,fulfilled,[]
4,20554,2018-01-02 11:45:26,2018-01-02 18:02:33,2018-01-02 11:45:26,NaN,paid,fulfilled,[],"[{""type"":""manual"",""value"":""229.99"",""value_type...",1.503838e+11,2018-01-02T11:45:05-08:00,United States,The FlyBy,1,EFX-FLY-BLK,7257,229.99,229.99,fulfilled,"[{'amount': '229.99', 'discount_application_in..."

In [12]:
# order_df['discount_applications'] = order_df['discount_applications'].apply(lambda x: len(json.loads(x)) > 0)
order_df.head()

,id,created_at,closed_at,processed_at,total_price,financial_status,fulfillment_status,refunds,discount_applications,customer.id,customer.created_at,customer.country,line_items.title,line_items.quantity,line_items.sku,line_items.grams,line_items.price,line_items.total_discount,line_items.fulfillment_status,line_items.discount_allocations
0,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],[],1.494266e+11,2018-01-01T17:23:26-08:00,United States,Vertigo™ Semi-Hollow,1,M80-VHB-BLK,20412,249.99,0.00,fulfilled,[]
1,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],[],1.494266e+11,2018-01-01T17:23:26-08:00,United States,The Tick™ 2.0 Black,1,M80-TICK-V2-BLK,3175,89.99,0.00,fulfilled,[]
2,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],[],1.494266e+11,2018-01-01T17:23:26-08:00,United States,Pedalboard Lite (Silver),1,PFX-PB-LT-SLV,912,109.99,0.00,fulfilled,[]
3,20556,2018-01-02 10:56:19,2018-01-02 18:02:32,2018-01-02 10:56:19,249.99,paid,fulfilled,[],[],1.503216e+11,2018-01-02T10:55:03-08:00,United States,Vertigo™ Semi-Hollow,1,M80-VHB-BLK,20412,249.99,0.00,fulfilled,[]
4,20554,2018-01-02 11:45:26,2018-01-02 18:02:33,2018-01-02 11:45:26,NaN,paid,fulfilled,[],"[{""type"":""manual"",""value"":""229.99"",""value_type...",1.503838e+11,2018-01-02T11:45:05-08:00,United States,The FlyBy,1,EFX-FLY-BLK,7257,229.99,229.99,fulfilled,"[{'amount': '229.99', 'discount_application_in..."

## Export data to csv

In [13]:
# order_pd.to_csv('../data/order_after_preprocess.csv', encoding='utf-8', index=False)
# order_df.to_csv('../data-processed/orders_p1.csv', encoding='utf-8', index=False)
orderproducts = order_df

In [14]:
orderproducts['discount_applications'] = orderproducts['discount_applications'].apply(lambda x: "yes" if len(json.loads(x)) > 0 else "no")

orderproducts.rename(columns={
    'id': 'order_id', 
    'created_at': 'order_created_at',
    'total_price': 'order_total_price',
    'fulfillment_status': 'order_status',
    'discount_applications': 'order_discounts',
    # '?????': 'product_title',
    'line_items.sku': 'product_sku',
    'line_items.quantity': 'product_quantity',
    'line_items.total_discount': 'product_discount',
    # '?????': 'product_category',
    # '?????': 'product_deparments', # => not in use
    # '?????': 'product_created_at', # => not in use
    'customer.id': 'customer_id',
    'customer.country': 'customer_country',
    'customer.created_at': 'customer_created_at',
}, inplace=True)
orderproducts.head()

,order_id,order_created_at,closed_at,processed_at,order_total_price,financial_status,order_status,refunds,order_discounts,customer_id,customer_created_at,customer_country,line_items.title,product_quantity,product_sku,line_items.grams,line_items.price,product_discount,line_items.fulfillment_status,line_items.discount_allocations
0,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],no,1.494266e+11,2018-01-01T17:23:26-08:00,United States,Vertigo™ Semi-Hollow,1,M80-VHB-BLK,20412,249.99,0.00,fulfilled,[]
1,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],no,1.494266e+11,2018-01-01T17:23:26-08:00,United States,The Tick™ 2.0 Black,1,M80-TICK-V2-BLK,3175,89.99,0.00,fulfilled,[]
2,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],no,1.494266e+11,2018-01-01T17:23:26-08:00,United States,Pedalboard Lite (Silver),1,PFX-PB-LT-SLV,912,109.99,0.00,fulfilled,[]
3,20556,2018-01-02 10:56:19,2018-01-02 18:02:32,2018-01-02 10:56:19,249.99,paid,fulfilled,[],no,1.503216e+11,2018-01-02T10:55:03-08:00,United States,Vertigo™ Semi-Hollow,1,M80-VHB-BLK,20412,249.99,0.00,fulfilled,[]
4,20554,2018-01-02 11:45:26,2018-01-02 18:02:33,2018-01-02 11:45:26,NaN,paid,fulfilled,[],yes,1.503838e+11,2018-01-02T11:45:05-08:00,United States,The FlyBy,1,EFX-FLY-BLK,7257,229.99,229.99,fulfilled,"[{'amount': '229.99', 'discount_application_in..."

In [15]:
# Create date field, remove time details
# orderproducts['order_date'] = [x.date() for x in orderproducts['order_created_at']]  # remove time, display only date
orderproducts['order_date'] = orderproducts['order_created_at'].apply(lambda x: pd.to_datetime((pd.to_datetime(x).date())))# remove time, display only date
# orderproducts['order_date'] = pd.to_datetime(orderproducts['order_date'])
orderproducts.head()

,order_id,order_created_at,closed_at,processed_at,order_total_price,financial_status,order_status,refunds,order_discounts,customer_id,...,customer_country,line_items.title,product_quantity,product_sku,line_items.grams,line_items.price,product_discount,line_items.fulfillment_status,line_items.discount_allocations,order_date
0,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],no,1.494266e+11,...,United States,Vertigo™ Semi-Hollow,1,M80-VHB-BLK,20412,249.99,0.00,fulfilled,[],2018-01-01
1,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],no,1.494266e+11,...,United States,The Tick™ 2.0 Black,1,M80-TICK-V2-BLK,3175,89.99,0.00,fulfilled,[],2018-01-01
2,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],no,1.494266e+11,...,United States,Pedalboard Lite (Silver),1,PFX-PB-LT-SLV,912,109.99,0.00,fulfilled,[],2018-01-01
3,20556,2018-01-02 10:56:19,2018-01-02 18:02:32,2018-01-02 10:56:19,249.99,paid,fulfilled,[],no,1.503216e+11,...,United States,Vertigo™ Semi-Hollow,1,M80-VHB-BLK,20412,249.99,0.00,fulfilled,[],2018-01-02
4,20554,2018-01-02 11:45:26,2018-01-02 18:02:33,2018-01-02 11:45:26,NaN,paid,fulfilled,[],yes,1.503838e+11,...,United States,The FlyBy,1,EFX-FLY-BLK,7257,229.99,229.99,fulfilled,"[{'amount': '229.99', 'discount_application_in...",2018-01-02

In [16]:
# read products information
# products = pd.read_csv('../data-raw/products.csv')
products = pd.read_sql_table('products', engine)


# remove duplicated sku names
products = products.drop_duplicates(subset = ['sku'], keep='first')
products = products.set_index('sku')
products.head()

,id,title,price_usd,category,tags,created_at
sku,,,,,,
M80-AD-BLK,33184,"MONO Classic Acoustic/Dreadnought Guitar Case,...",229.99,Acoustic Guitar Cases & Gig Bags,Cases & Gig Bags,2017-10-26 02:57:14
M80-VEG-BLK,33186,"MONO Vertigo Electric Guitar Case, Black",249.99,Electric Guitar Cases & Gig Bags,Cases & Gig Bags,2017-10-26 02:57:14
M80-EG-BLK,33187,"MONO Classic Electric Guitar Case, Black",229.99,Electric Guitar Cases & Gig Bags,Cases & Gig Bags,2017-10-26 02:57:14
M80-VEG-GRY,34589,"MONO Vertigo Electric Guitar Case, Grey",249.99,Electric Guitar Cases & Gig Bags,Cases & Gig Bags,2017-10-26 02:57:14
M80-VEB-BLK,34590,"MONO Vertigo Bass Guitar Case, Black",249.99,Bass Guitar Cases & Gig Bags,Cases & Gig Bags,2017-10-26 02:57:14

In [17]:
# Extract the product price for individual item in the list
orderproducts['product_price'] = orderproducts['product_sku'].apply(lambda x: products['price_usd'][x] if x in products.index else 0)
orderproducts['product_title'] = orderproducts['product_sku'].apply(lambda x: products['title'][x] if x in products.index else np.NaN)
orderproducts['product_category'] = orderproducts['product_sku'].apply(lambda x: products['category'][x] if x in products.index else np.NaN)
orderproducts['product_tags'] = orderproducts['product_sku'].apply(lambda x: products['tags'][x] if x in products.index else np.NaN)
orderproducts.head()

,order_id,order_created_at,closed_at,processed_at,order_total_price,financial_status,order_status,refunds,order_discounts,customer_id,...,line_items.grams,line_items.price,product_discount,line_items.fulfillment_status,line_items.discount_allocations,order_date,product_price,product_title,product_category,product_tags
0,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],no,1.494266e+11,...,20412,249.99,0.00,fulfilled,[],2018-01-01,249.99,"MONO Vertigo Semi-Hollow Guitar Case, Black",Electric Guitar Cases & Gig Bags,Cases & Gig Bags
1,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],no,1.494266e+11,...,3175,89.99,0.00,fulfilled,[],2018-01-01,89.99,"MONO Classic Tick Accessory Case 2.0, Black",Pedals & Pedalboards Cases & Gig Bags,Cases & Gig Bags
2,20570,2018-01-01 17:24:47,2018-01-02 18:02:30,2018-01-01 17:24:47,449.97,paid,fulfilled,[],no,1.494266e+11,...,912,109.99,0.00,fulfilled,[],2018-01-01,109.99,"MONO Pedalboard Lite, Silver",Pedalboards,Pedals & Pedalboards
3,20556,2018-01-02 10:56:19,2018-01-02 18:02:32,2018-01-02 10:56:19,249.99,paid,fulfilled,[],no,1.503216e+11,...,20412,249.99,0.00,fulfilled,[],2018-01-02,249.99,"MONO Vertigo Semi-Hollow Guitar Case, Black",Electric Guitar Cases & Gig Bags,Cases & Gig Bags
4,20554,2018-01-02 11:45:26,2018-01-02 18:02:33,2018-01-02 11:45:26,NaN,paid,fulfilled,[],yes,1.503838e+11,...,7257,229.99,229.99,fulfilled,"[{'amount': '229.99', 'discount_application_in...",2018-01-02,229.99,"MONO Classic FlyBy Backpack, Black",DJ Equipment Cases & Gig Bags,Cases & Gig Bags

In [18]:
# for col in orderproducts.columns.tolist():
#     if isinstance(orderproducts[col][0], dict):
#         orderproducts[col] = orderproducts[col].apply(str)
#         print (col)
orderproducts['line_items.discount_allocations'] = orderproducts['line_items.discount_allocations'].apply(str)

orderproducts.to_sql(name='orderproducts', con=engine, if_exists = 'replace', index=False)

In [19]:
# list of product skus that is not listed in products.csv
emp = [x for x in orderproducts['product_sku'] if x not in products.index]
print(set(emp))

{'', 'B-M80-VEG-GRY', 'B-M80-SAD-BLK', '50-K61-FOAM', 'CPN-BAG-STRAP-DPS-BLK', 'B-M80-EB-BLK', 'SRB-L-BLK', 'STICKER', 'B-M80-AC-BLK', None}

In [20]:
orderproducts = orderproducts[['order_id', 'order_date', 'order_total_price', 'product_price', 'order_discounts',
                               'product_discount', 'order_status', 'product_title', 'product_sku', 'product_quantity',
                               'product_category']]
orderproducts.head()

,order_id,order_date,order_total_price,product_price,order_discounts,product_discount,order_status,product_title,product_sku,product_quantity,product_category
0,20570,2018-01-01,449.97,249.99,no,0.00,fulfilled,"MONO Vertigo Semi-Hollow Guitar Case, Black",M80-VHB-BLK,1,Electric Guitar Cases & Gig Bags
1,20570,2018-01-01,449.97,89.99,no,0.00,fulfilled,"MONO Classic Tick Accessory Case 2.0, Black",M80-TICK-V2-BLK,1,Pedals & Pedalboards Cases & Gig Bags
2,20570,2018-01-01,449.97,109.99,no,0.00,fulfilled,"MONO Pedalboard Lite, Silver",PFX-PB-LT-SLV,1,Pedalboards
3,20556,2018-01-02,249.99,249.99,no,0.00,fulfilled,"MONO Vertigo Semi-Hollow Guitar Case, Black",M80-VHB-BLK,1,Electric Guitar Cases & Gig Bags
4,20554,2018-01-02,NaN,229.99,yes,229.99,fulfilled,"MONO Classic FlyBy Backpack, Black",EFX-FLY-BLK,1,DJ Equipment Cases & Gig Bags

In [21]:
product_sku = orderproducts.groupby(['product_sku'])['product_quantity'].agg(['sum']).sort_values('sum', ascending=False).reset_index()
product_sku

         product_sku  sum
0    M80-TICK-V2-BLK  813
1        M80-VEG-BLK  791
2        EFX-FLY-BLK  703
3         M80-EG-BLK  653
4      M80-BTY-BLK-L  615
..               ...  ...
114      50-K61-FOAM    1
115    B-M80-VEG-GRY    1
116    B-M80-SAD-BLK    1
117     B-M80-AC-BLK    1
118                     1

[119 rows x 2 columns]

In [22]:
top_20 = list(product_sku['product_sku'].values)[0:20]
top_20

['M80-TICK-V2-BLK',
 'M80-VEG-BLK',
 'EFX-FLY-BLK',
 'M80-EG-BLK',
 'M80-BTY-BLK-L',
 'M80-2G-BLK',
 'M80-VEB-BLK',
 'M80-BTY-BLK-S',
 'M80-EB-BLK',
 'M80-AD-BLK',
 'M80-SEG-BLK',
 'M80-VAD-BLK',
 'M80-SEG-ASH',
 'M80-VHB-BLK',
 'M80-TOUR-V2-BLK',
 'M80-2B-BLK',
 'M80-AC-BLK',
 'M80-VEB-GRY',
 'M80-VEG-GRY',
 'M80-SEB-BLK']

In [23]:
df = orderproducts[orderproducts['product_sku'].isin(top_20)]
df.head()

,order_id,order_date,order_total_price,product_price,order_discounts,product_discount,order_status,product_title,product_sku,product_quantity,product_category
0,20570,2018-01-01,449.97,249.99,no,0.00,fulfilled,"MONO Vertigo Semi-Hollow Guitar Case, Black",M80-VHB-BLK,1,Electric Guitar Cases & Gig Bags
1,20570,2018-01-01,449.97,89.99,no,0.00,fulfilled,"MONO Classic Tick Accessory Case 2.0, Black",M80-TICK-V2-BLK,1,Pedals & Pedalboards Cases & Gig Bags
3,20556,2018-01-02,249.99,249.99,no,0.00,fulfilled,"MONO Vertigo Semi-Hollow Guitar Case, Black",M80-VHB-BLK,1,Electric Guitar Cases & Gig Bags
4,20554,2018-01-02,NaN,229.99,yes,229.99,fulfilled,"MONO Classic FlyBy Backpack, Black",EFX-FLY-BLK,1,DJ Equipment Cases & Gig Bags
5,20573,2018-01-01,249.99,249.99,no,0.00,fulfilled,"MONO Vertigo Electric Guitar Case, Black",M80-VEG-BLK,1,Electric Guitar Cases & Gig Bags

In [24]:
df.to_sql(name='orderproducts_top20', con=engine, if_exists = 'replace', index=False)

In [25]:
%%javascript
IPython.notebook.kernel.execute('nb_name = "' + IPython.notebook.notebook_name + '"')

In [26]:
# nb_name

In [27]:
# !(python -m nbconv --to script \$nb_name || True)

NUS-ISS