In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date
import matplotlib.pyplot as plt

In [2]:
from sqlalchemy import create_engine
#engine = create_engine('mysql+pymysql://<user>:<password>@<host>:<port>/<default_db>...')
engine = create_engine('mysql+pymysql://iss:6Jg3bwm56xtJ2mrfNQwvsaY$@idm5peipdsus5o.crcvo0yw3sz7.ap-southeast-1.rds.amazonaws.com:3306/iss_project')

In [19]:
df_ARIMA = pd.read_sql_table('top20forecasts_ARIMA', engine)
df_ARIMA.rename({'rmse':'ARIMA_rmse', 'abs(diff)':'ARIMA_maxe'}, axis=1, inplace=True)
df_ARIMA.head()

  month         item  test  predict ARIMA_rmse ARIMA_maxe
0   m+1  EFX-FLY-BLK     2        0       3.83         10
1   m+2  EFX-FLY-BLK     2        0
2   m+3  EFX-FLY-BLK     6        0
3   m+1   M80-2B-BLK     1        0       1.73          1
4   m+2   M80-2B-BLK     1        3

In [20]:
df_SARIMA = pd.read_sql_table('top20forecasts_SARIMA', engine)
df_SARIMA.rename({'rmse':'SARIMA_rmse', 'abs(diff)':'SARIMA_maxe'}, axis=1, inplace=True)
df_SARIMA.head()

  month         item  test  predict SARIMA_rmse SARIMA_maxe
0   m+1  EFX-FLY-BLK     2        0        3.83          10
1   m+2  EFX-FLY-BLK     2        0
2   m+3  EFX-FLY-BLK     6        0
3   m+1   M80-2B-BLK     1        4        4.24          12
4   m+2   M80-2B-BLK     1        7

In [21]:
df_MA = pd.read_sql_table('top20forecasts_MA', engine)
df_MA.rename({'rmse':'MA_rmse', 'abs(diff)':'MA_maxe'}, axis=1, inplace=True)
df_MA.head()

  month         item  test  predict MA_rmse MA_maxe
0   m+1  EFX-FLY-BLK     2        3    1.91       1
1   m+2  EFX-FLY-BLK     2        3
2   m+3  EFX-FLY-BLK     6        3
3   m+1   M80-2B-BLK     1        3    1.73       5
4   m+2   M80-2B-BLK     1        3

In [22]:
df_LSTM = pd.read_sql_table('top20forecasts_LSTM', engine)
df_LSTM.rename({'rmse':'LSTM_rmse', 'abs(diff)':'LSTM_maxe'}, axis=1, inplace=True)
df_LSTM.head()

  month         item  test  predict LSTM_rmse LSTM_maxe
0   m+1  EFX-FLY-BLK     2        2      1.29         1
1   m+2  EFX-FLY-BLK     2        4
2   m+3  EFX-FLY-BLK     6        5
3   m+1   M80-2B-BLK     1        1      0.58         1
4   m+2   M80-2B-BLK     1        1

In [30]:
df_ExpSm = pd.read_sql_table('top20forecasts_ExpSmoothing', engine)
df_ExpSm.rename({'rmse':'ExpSm_rmse', 'abs(diff)':'ExpSm_maxe'}, axis=1, inplace=True)
df_ExpSm.head()

  month         item  test  forecast ExpSm_rmse ExpSm_maxe
0   m+1  EFX-FLY-BLK     2         0        3.7          7
1   m+2  EFX-FLY-BLK     2         3
2   m+3  EFX-FLY-BLK     6         0
3   m+1   M80-2B-BLK     1         0       1.41          2
4   m+2   M80-2B-BLK     1         2

In [7]:
#### To concatenate all the 4 datasets

In [31]:
df_concat = pd.concat([df_ARIMA,df_SARIMA[['SARIMA_rmse','SARIMA_maxe']], df_MA[['MA_rmse','MA_maxe']], df_ExpSm[['ExpSm_rmse','ExpSm_maxe']], df_LSTM[['LSTM_rmse','LSTM_maxe']]], axis=1)

df_concat.drop(['month','test','predict'], axis=1, inplace=True)

df_concat.drop_duplicates(['item'], inplace=True)

In [32]:
df_concat.head()

,item,ARIMA_rmse,ARIMA_maxe,SARIMA_rmse,SARIMA_maxe,MA_rmse,MA_maxe,ExpSm_rmse,ExpSm_maxe,LSTM_rmse,LSTM_maxe
0,EFX-FLY-BLK,3.83,10,3.83,10,1.91,1,3.7,7,1.29,1
3,M80-2B-BLK,1.73,1,4.24,12,1.73,5,1.41,2,0.58,1
6,M80-2G-BLK,5.48,14,3.11,3,2.94,6,6.19,17,2.38,3
9,M80-AC-BLK,2.08,1,2.65,5,2.45,6,1.83,2,0.0,0
12,M80-AD-BLK,0.82,2,3.0,9,1.41,2,1.73,1,1.29,3

In [33]:
df_concat = df_concat[['item', 'ARIMA_rmse', 'SARIMA_rmse', 'MA_rmse', 'ExpSm_rmse','LSTM_rmse', 'ARIMA_maxe', 'SARIMA_maxe', 'MA_maxe', 'ExpSm_maxe', 'LSTM_maxe' ]]

In [40]:
df_concat.to_sql(name='compare_forecasts', con=engine, if_exists = 'replace', index=False)

#### To analyse RMSE performance

In [34]:
df_rmse = df_concat[['ARIMA_rmse', 'SARIMA_rmse', 'MA_rmse', 'ExpSm_rmse', 'LSTM_rmse']]

rmse_winners = {'ARIMA_rmse':0, 'SARIMA_rmse':0, 'MA_rmse':0, 'ExpSm_rmse':0, 'LSTM_rmse':0}
for i, row  in df_rmse.iterrows():
    for j in row[row == min(row)].index.values:
        rmse_winners[j] += 1
pd_rmse = pd.DataFrame(list(rmse_winners.items()), columns=['models', 'counts'])
pd_rmse = pd_rmse.sort_values(by=['counts'], ascending=False).reset_index().drop(columns='index')

In [35]:
df_rmse

   ARIMA_rmse SARIMA_rmse MA_rmse ExpSm_rmse LSTM_rmse
0        3.83        3.83    1.91        3.7      1.29
3        1.73        4.24    1.73       1.41      0.58
6        5.48        3.11    2.94       6.19      2.38
9        2.08        2.65    2.45       1.83       0.0
12       0.82         3.0    1.41       1.73      1.29
15       2.16        2.16    1.29       7.39      0.58
18       2.08        2.08    1.29       2.08      0.58
21       1.83        2.16    1.91      11.09      0.82
24       3.11        3.11    3.11       2.94      2.08
27       2.94        2.94    1.41       1.73      1.41
30       1.29        1.15    0.58       1.41       0.0
33       2.52        3.16    1.41       7.62      1.29
36       4.51        4.51    3.56       4.51      0.82
39       1.91        3.16    1.91       2.16      0.58
42       3.11        5.07    1.73       0.58      0.82
45       2.38        5.42    1.29       0.58      0.82
48       2.08        2.94    0.82       2.16      0.58
51       1.91        7.77    1.41       1.83      2.38
54       2.38        0.58    1.41       2.38      0.82
57       1.73        2.45    2.16       2.08      2.16

In [36]:
pd_rmse

        models  counts
0    LSTM_rmse      14
1   ARIMA_rmse       2
2      MA_rmse       2
3   ExpSm_rmse       2
4  SARIMA_rmse       1

#### Comment
Of the top 20 items forecasted, LSTM model gives the best results in 16 of the items

#### To analyse 3 months sales forecast differences

In [44]:
df_maxe = df_concat[['ARIMA_maxe', 'SARIMA_maxe', 'MA_maxe', 'ExpSm_maxe', 'LSTM_maxe']]

maxe_winners = {'ARIMA_maxe':0, 'SARIMA_maxe':0, 'MA_maxe':0, 'ExpSm_maxe':0, 'LSTM_maxe':0}
for i, row  in df_maxe.iterrows():
    for j in row[row == min(row)].index.values:
        maxe_winners[j] += 1
pd_maxe = pd.DataFrame(list(maxe_winners.items()), columns=['models', 'counts'])
pd_maxe = pd_maxe.sort_values(by=['counts'], ascending=False).reset_index().drop(columns='index')

In [45]:
df_maxe

   ARIMA_maxe SARIMA_maxe MA_maxe ExpSm_maxe LSTM_maxe
0          10          10       1          7         1
3           1          12       5          2         1
6          14           3       6         17         3
9           1           5       6          2         0
12          2           9       2          1         3
15          6           6       3         18         1
18          5           5       1          5         1
21          4           0       5         29         0
24          7           7       7          4         1
27          8           8       0          3         0
30          3           2       1          4         0
33          1           6       2         22         1
36         13          13      10         13         0
39          3           6       5          2         1
42          9          15       3          1         0
45          7          16       3          1         0
48          5           8       2          6         1
51          5          23       4          4         7
54          7           1       4          7         2
57          3           6       4          5         0

In [46]:
pd_maxe

        models  counts
0    LSTM_maxe      16
1   ARIMA_maxe       3
2  SARIMA_maxe       3
3      MA_maxe       3
4   ExpSm_maxe       1

#### Comment
Of the top 20 items forecasted, using Sales forecast differences, LSTM model gives the best results in 16 of the items