In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, date
import matplotlib.pyplot as plt

In [2]:
from sqlalchemy import create_engine
#engine = create_engine('mysql+pymysql://<user>:<password>@<host>:<port>/<default_db>...')
engine = create_engine('mysql+pymysql://iss:6Jg3bwm56xtJ2mrfNQwvsaY$@idm5peipdsus5o.crcvo0yw3sz7.ap-southeast-1.rds.amazonaws.com:3306/iss_project')

In [4]:
df_ARIMA = pd.read_sql_table('top20forecasts_ARIMA', engine)
df_ARIMA.rename({'rmse':'ARIMA_rmse', 'abs(diff)':'ARIMA_diff'}, axis=1, inplace=True)
df_ARIMA.head()

  month         item  test  predict ARIMA_rmse ARIMA_diff
0   m+1  EFX-FLY-BLK     2        0       3.83         10
1   m+2  EFX-FLY-BLK     2        0
2   m+3  EFX-FLY-BLK     6        0
3   m+1   M80-2B-BLK     1        0       1.73          1
4   m+2   M80-2B-BLK     1        3

In [5]:
df_SARIMA = pd.read_sql_table('top20forecasts_SARIMA', engine)
df_SARIMA.rename({'rmse':'SARIMA_rmse', 'abs(diff)':'SARIMA_diff'}, axis=1, inplace=True)
df_SARIMA.head()

  month         item  test  predict SARIMA_rmse SARIMA_diff
0   m+1  EFX-FLY-BLK     2        0        3.83          10
1   m+2  EFX-FLY-BLK     2        0
2   m+3  EFX-FLY-BLK     6        0
3   m+1   M80-2B-BLK     1        4        4.24          12
4   m+2   M80-2B-BLK     1        7

In [6]:
df_MA = pd.read_sql_table('top20forecasts_MA', engine)
df_MA.rename({'rmse':'MA_rmse', 'abs(diff)':'MA_diff'}, axis=1, inplace=True)
df_MA.head()

  month         item  test  forecast MA_rmse MA_diff
0   m+1  EFX-FLY-BLK     2         3    1.91       1
1   m+2  EFX-FLY-BLK     2         3
2   m+3  EFX-FLY-BLK     6         3
3   m+1   M80-2B-BLK     1         3    1.73       5
4   m+2   M80-2B-BLK     1         3

In [7]:
df_LSTM = pd.read_sql_table('top20forecasts_LSTM', engine)
df_LSTM.rename({'rmse':'LSTM_rmse', 'abs(diff)':'LSTM_diff'}, axis=1, inplace=True)
df_LSTM.head()

  month         item  test  predict LSTM_rmse LSTM_diff
0   m+1  EFX-FLY-BLK     2        2      1.29         1
1   m+2  EFX-FLY-BLK     2        4
2   m+3  EFX-FLY-BLK     6        5
3   m+1   M80-2B-BLK     1        1      0.58         1
4   m+2   M80-2B-BLK     1        1

In [8]:
#### To concatenate all the 4 datasets

In [9]:
df_concat = pd.concat([df_ARIMA,df_SARIMA[['SARIMA_rmse','SARIMA_diff']], df_MA[['MA_rmse','MA_diff']], df_LSTM[['LSTM_rmse','LSTM_diff']]], axis=1)

df_concat.drop(['month','test','predict'], axis=1, inplace=True)

df_concat.drop_duplicates(['item'], inplace=True)

In [10]:
df_concat.head()

,item,ARIMA_rmse,ARIMA_diff,SARIMA_rmse,SARIMA_diff,MA_rmse,MA_diff,LSTM_rmse,LSTM_diff
0,EFX-FLY-BLK,3.83,10,3.83,10,1.91,1,1.29,1
3,M80-2B-BLK,1.73,1,4.24,12,1.73,5,0.58,1
6,M80-2G-BLK,5.48,14,3.11,3,2.94,6,2.38,3
9,M80-AC-BLK,2.08,1,2.65,5,2.45,6,0.0,0
12,M80-AD-BLK,0.82,2,3.0,9,1.41,2,1.29,3

In [20]:
df_concat = df_concat[['item', 'ARIMA_rmse', 'SARIMA_rmse', 'MA_rmse', 'LSTM_rmse', 'ARIMA_diff', 'SARIMA_diff', 'MA_diff', 'LSTM_diff' ]]

In [21]:
from sqlalchemy import create_engine
#engine = create_engine('mysql+pymysql://<user>:<password>@<host>:<port>/<default_db>...')
engine = create_engine('mysql+pymysql://iss:6Jg3bwm56xtJ2mrfNQwvsaY$@idm5peipdsus5o.crcvo0yw3sz7.ap-southeast-1.rds.amazonaws.com:3306/iss_project')

In [22]:
df_concat.to_sql(name='compare_forecasts', con=engine, if_exists = 'replace', index=False)

#### To analyse RMSE performance

In [12]:
df_rmse = df_concat[['ARIMA_rmse', 'SARIMA_rmse', 'MA_rmse', 'LSTM_rmse']]

rmse_winners = {'ARIMA_rmse':0, 'SARIMA_rmse':0, 'MA_rmse':0, 'LSTM_rmse':0}
for i, row  in df_rmse.iterrows():
    for j in row[row == min(row)].index.values:
        rmse_winners[j] += 1
pd_rmse = pd.DataFrame(list(rmse_winners.items()), columns=['models', 'counts'])
pd_rmse = pd_rmse.sort_values(by=['counts'], ascending=False).reset_index().drop(columns='index')

In [17]:
pd_rmse

        models  counts
0    LSTM_rmse      16
1   ARIMA_rmse       2
2      MA_rmse       2
3  SARIMA_rmse       1

#### Comment
Of the top 20 items forecasted, LSTM model gives the best results in 16 of the items

#### To analyse 3 months sales forecast differences

In [14]:
df_diff = df_concat[['ARIMA_diff', 'SARIMA_diff', 'MA_diff', 'LSTM_diff']]

diff_winners = {'ARIMA_diff':0, 'SARIMA_diff':0, 'MA_diff':0, 'LSTM_diff':0}
for i, row  in df_diff.iterrows():
    for j in row[row == min(row)].index.values:
        diff_winners[j] += 1
pd_diff = pd.DataFrame(list(diff_winners.items()), columns=['models', 'counts'])
pd_diff = pd_diff.sort_values(by=['counts'], ascending=False).reset_index().drop(columns='index')

In [15]:
pd_diff

        models  counts
0    LSTM_diff      16
1   ARIMA_diff       4
2      MA_diff       4
3  SARIMA_diff       3

#### Comment
Of the top 20 items forecasted, using Sales forecast differences, LSTM model gives the best results in 16 of the items